extends layout
block content
    nav.navbar.navbar-light(style='background-color: #e3f2fd;' )
        .container
            a.navbar-brand(href='/')
                img(src='http://localhost:8080/images/assets/book.svg' width='60rem' height='60rem')
                span Softbox book shop
    .container
        .row.justify-content-center
            .col-xl-12.col-md-12
                table.table.table-light.table-striped
                    thead
                        tr
                            td id
                            td profile
                            td name
                            td paid
                            td balance
                            td tier
                            td
                            td
                    tbody
                        each i in member
                            tr
                                th=i.user_id
                                td
                                    img.img-fluid(src='http://localhost:8080/images/userpicture/'+i.user_image width="200rem" height="200rem")
                                td=i.user_name
                                td=i.user_payment
                                td=i.user_balance
                                td=i.userTier
                                td
                                    a(href='/admin/'+i.user_id+'/edit') edit
                                td
                                    a(href='/admin/'+i.user_id+'/delete') delete
                    