extends layout
block content
    if(bookdetail!==undefined)
        each detail in bookdetail
            form(method='POST', action='/shopcart/'+detail.SSID )
                p= detail.SSID
                img(src='http://localhost:8080/images/bookpicture/'+detail.book_image , style='height:150px;width:150px', onclick='buying('+detail.SSID+')')
                p book's name: #{detail.bookname}
                p owner is : #{detail.user_name}
                input(type='hidden', value=detail.user_id , name='seller')
                p price: #{detail.book_price} baht
                if(detail.user_id!==owner)
                    input(type='submit', name='buy' , value='BUY')
                else
                    input(type='button', value='YOUR BOOK')
                hr